<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booksnake</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;1,500;1,700&family=Roboto&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" />

</head>

<body>
    <div id="page">
        <div>
            <!-- hi :) -->
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-6 offset-3">
                    <h1 style="
                                text-transform: none;
                                text-align: center;
                                font-size: 42pt;
                            ">
                        Booksnake
                    </h1>
                    <p class="card-text" style="text-align: center">
                        E-Book Ssssearch
                    </p>
                    <p class="card-text" style="text-align: center">
                        version 0.1.2
                    </p>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div id="appRoot"></div>
            <br />
            <br />
        </div>
        <style>
            html,
            body {
                font-family: "Roboto", sans-serif;
            }

            a {
                border-bottom: 1px solid #333;
                transition: all 0.1s;
            }

            a:hover {
                border-bottom: 2px solid black;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Playfair Display", serif;
                letter-spacing: 0.05em;
            }

            #page {
                background: hsla(242, 100%, 95%, 1);
                background: linear-gradient(45deg, hsla(242, 100%, 95%, 1) 1%, hsla(333, 100%, 91%, 1) 100%);
                background: -moz-linear-gradient(45deg, hsla(242, 100%, 95%, 1) 1%, hsla(333, 100%, 91%, 1) 100%);
                background: -webkit-linear-gradient(45deg, hsla(242, 100%, 95%, 1) 1%, hsla(333, 100%, 91%, 1) 100%);
                filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#E4E3FF", endColorstr="#FFD3E7", GradientType=1);
                min-height: 100vh;
            }

            .list-group-item {
                margin-top: 4px;
            }
        </style>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
        <script type="text/babel">
            let notifier = new Notyf();
            // const BASE_URL = "http://localhost:5000";
            const BASE_URL = window.location;
            const API = {
                search(qry) {
                    return fetch(`${BASE_URL}/api/search`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ query: qry }),
                    }).then((res) => res.json()).catch((err) => {
                        notifier.error("Could not complete the search due to a server error: " + err);
                        console.error(err);
                    });
                },
                getFile(dictData) {
                    return fetch(`${BASE_URL}/api/download`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ data: dictData }),
                    }).then((res) => {
                        return res.blob().then((blob) => {
                            return {
                                blob: blob,
                                filename: res.headers.get(
                                    "x-suggested-filename"
                                ),
                            };
                        });
                    });
                },
            };
            const Searchbar = ({ onSubmit }) => {
                let [queryString, setQueryString] = React.useState("");
                let [isSearching, setIsSearching] = React.useState(false);
                return (
                    <div className="card">
                        <div className="card-body">
                            <div className="card-text">
                                <div className="input-group input-group-md">
                                    <input
                                        type="text"
                                        className="form-control input-md"
                                        value={queryString}
                                        onChange={(ev) => {
                                            setQueryString(ev.target.value);
                                        }}
                                        onKeyUp={(ev) => {
                                            if (ev.keyCode === 13) {
                                                setIsSearching(true);
                                                onSubmit(queryString).then(() => {
                                                    setIsSearching(false);
                                                });
                                            }
                                        }}
                                        placeholder="Search for a book title, author, or publisher."
                                    />
                                    <span className="input-group-btn">
                                        <button
                                            className="btn btn-default btn-md"
                                            type="submit"
                                            onClick={() => {
                                                onSubmit(queryString).then(() => {
                                                    setIsSearching(false);
                                                });
                                                setIsSearching(true);
                                            }
                                            }
                                        >
                                            {isSearching ? (
                                                <span
                                                    className="spinner-border spinner-border-sm"
                                                    role="status"
                                                    aria-hidden="true"
                                                ></span>
                                            ) : (
                                                <span>Search</span>
                                            )}
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                );
            };
            const SearchResultsTableRow = ({ item }) => {
                let [downloading, setDownloading] = React.useState(false);
                return (
                    <div
                        key={item.title + item.author + item.ext}
                        className="list-group-item d-flex justify-content-between align-items-center"
                    >
                        {item.title} by {item.author} ({item.ext})
                        <button
                            // href={item.links[0]}
                            onClick={() => {
                                setDownloading(true);
                                API.getFile(item).then(({ blob, filename }) => {
                                    var link = window.document.createElement(
                                        "a"
                                    );
                                    link.href = window.URL.createObjectURL(
                                        blob,
                                        {
                                            type:
                                                "application/x-mobipocket-ebook",
                                        }
                                    );
                                    link.download =
                                        filename ||
                                        item.title.replace(" ", "-") +
                                        "." +
                                        item.ext;
                                    document.body.appendChild(link);
                                    link.click();
                                    document.body.removeChild(link);
                                    setDownloading(false);
                                });
                            }}
                            className="btn btn-primary btn-sm"
                            disabled={downloading}
                        >
                            {downloading ? "Downloading..." : "Download"}
                        </button>
                    </div>
                );
            };
            const SearchResultsTable = ({ results }) => {
                return (
                    <div className="list-group">
                        {results.map((res) => {
                            return <SearchResultsTableRow item={res} />;
                        })}
                    </div>
                );
            };
            const BooksnakeApplication = () => {
                const [searchResults, updateSearchResults] = React.useState([]);
                const performSearch = (qry) => {
                    return API.search(qry).then((response) => {
                        updateSearchResults(response["results"]);
                    });
                };
                return (
                    <div>
                        <div className="row">
                            <div className="col">
                                <Searchbar onSubmit={performSearch} />
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div className="row">
                            <div className="col">
                                <SearchResultsTable results={searchResults} />
                            </div>
                        </div>
                    </div>
                );
            };
            ReactDOM.render(
                <div>
                    <BooksnakeApplication />
                </div>,
                document.getElementById("appRoot")
            );
        </script>
    </div>
</body>

</html>